<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roger.petadoption">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".PetAdoptionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetAdoption">
        <activity
            android:name=".ui.main.home.detail.ShelterMapActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.hospital.detail.HospitalDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.home.filter.FilterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.home.detail.PetDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.profile.edit_profile.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.launch.LaunchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PetAdoption_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="${facebook_client_token}" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />
    </application>

</manifest>